<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Beerbase</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/main.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="static/main.js"></script>
    </head>

    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BeerBase</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1>Beer Database</h1>
          <p>Find and rate local beers in your area!</p>
          <p><a class="btn btn-primary btn-med" href="#" role="button">Explore &raquo;</a></p>
        </div>
      </div>

      <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {{ range .Favorites }}
        <div class="col-md-4" id="{{ .Id }}">
          <h2>{{ .Name }}</h2>
          <p>{{ .BeerDescription }} </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        {{ end }}
      </div>

      <hr>

        <div id="createReview" class="container">
            <h2>Create a review for this beer:</h2>
            <form id="reviewForm">
                <input class="formInput" type="text" name="reviewRating" id="Rating" size="50" autocorrect="off" placeholder="Title of your review"><br>
                <div id="star"></div><br>
                <textarea class="formInput" id="ReviewDescription" rows="3" cols="75" placeholder="Review description..."></textarea><br>
                <button class="formInput" id="submitreview" class="btn" type="submit">Submit</button>
            </form>
        </div>

        <h1 class="reviewArchive">Previous Reviews</h1>
<!--        <div id="oldReviews"></div><br>-->

        <div id="listReview" class="container">
            <h1> Review test </h1>
            {{ range .Reviews }}
            <!--<div class="row" id="{{ .Id }}">
              <h3>{{ .ReviewDate }}</h3>
              <h3>{{ .Rating }}</h3>
              <p>{{ .ReviewDescription }}</p>
            </div>-->
            <h3>{{ .ReviewDate }}</h3>
            <h3>{{ .Rating }}</h3>
            <p>{{ .ReviewDescription }}</p>
            {{ end }}
        </div>

    </div>

      <footer>
        <p>&copy; 2016 BeerBase, Inc.</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>


  <!-- <header>
            <h1>Beerbase</h1>
            <h3>Search a database of beer!</h3>
        </header>
        <div class="content" id="results">
            <div class="row">
                <div class="col-md-4" id="firstQuery">
                    <!-- replace the content in the p block with your question
                    <p>
                      Login:
                      <form action="login">
                        Username: <input type="text" name="user"><br>
                        Password: <input type="text" name="pass"><br>
                        <input type="submit" value="Submit">
                      </form>
                    </p>
                </div>
                <div class="col-md-4" id="secondQuery">
                    <!-- <p>
                      <form name="beerSearch" class="row form-inline">
                      	    	<div class="pull-right searchBar">
                      				<label for="search"><i class="fa fa-search"></i></label>
                      				<input name="query2" placeholder="Search" id="search" ng-model="searchQuery">
                      			</div>
                      	    </form>
                   </p>
                </div>
                <div class="col-md-4" id="thirdQuery">
                    <p>
                        <!--Put question #3 here
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>-->
