@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);

body {
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
  font-size: 16px;
}

.jumbotron {
  background-image: url(background3.jpg);
  min-height: 350px;
}

.content {
    background-color: #EAFDF8;
    min-height: 100px;
}
.content ul {
    padding-top: 25px;
}

form {
	border: 1px solid;
	padding: 10px;
}

#reviewForm {
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
	background-color: whitesmoke;
}

.formInput {
	width: auto;
}

#review-content {
	border-left: 3px solid;
	padding-left: 5px;
	border-left-color: darkgray;
	margin-top: 15px;
	margin-bottom: 15px;
}
