@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);

body {
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
  font-size: 16px;
}

.jumbotron {
  background-image: url(background3.jpg);
  /*min-height: 300px;*/
}

.content {
    background-color: #EAFDF8;
    min-height: 100px;
}
.content ul {
    padding-top: 25px;
}
