@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);

body {
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
  font-size: 16px;
}

.jumbotron {
  background-image: url(background3.jpg);
  min-height: 350px;
}

.content {
    background-color: #EAFDF8;
    min-height: 100px;
}
.content ul {
    padding-top: 25px;
}

form {
	border: 1px solid;
	padding: 10px;
}

#reviewForm {
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
  width: 80%;
  min-width: 380px;
	background-color: whitesmoke;
}

.formInput {
	width: 80%;
  min-width: 280px;
}

.prevReview {
	border: 1px solid;
	margin: 15px;
	padding-left: 10px;
	background-color: lightgrey;
	border-radius: 5px;
  width: 70%;
}

.title {
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.date {
  float: right;
  padding-right: 5px;
}


footer {
	border-top: 3px solid #d87e28;
	background-color: #afb3c2;
	font-size: 12px;
	padding: 1em;
   margin-top: 1em;
}
